[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-cors = "*"
faker = "*"
sqlalchemy-serializer = "*"
pyjwt = "==2.6.0"
psycopg2-binary = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
